@import '../../styles/variables.scss';

.dd {
  z-index: 1;
  display: flex;
  flex-direction: column;
  & span {
    padding: 10px 20px;
    font-size: 20px;
    @include phone {
      font-size: $smallFont;
    }
  }
  position: relative;
  // height: 42px;
  width: 100%;
  &_header {
    z-index: 100;
    position: relative;
    min-width: none;
    // margin-bottom: 0.8em;
    padding: 10px 20px;
    // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    // font-weight: 500;
    border-radius: 30px;
    font-size: 24px;
    color: #FF843F;
    background: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
    @include tablet {
      font-size: $mediumFont;
      padding: 8px 15px;
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 80%;
      aspect-ratio : 1 / 1;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      background-color: #FF843F;
      border-radius: 50%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      &_triangle {
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid white;
        transform: rotate(180deg) translateY(-2px);
        &_inverted {
          transform: translateY(-2px);
        }
      }
    }
  }
  &_list_container {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 70px;
    @include tablet{
      top: 60px;
    }
  }
  &_list {
    // z-index: -50;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffffff;
    // border: 2px solid #e5e5e5;
    box-sizing: border-box;
    // color: #3faffa;
    font-size: 24px;
    max-height: 200px;
    overflow: auto;
    border-radius: 0 0 25px 25px;
    // &:first-child {
    //   // padding-top: 50px;
    // }
    @include tablet{
      font-size: $mediumFont;
      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
    }
    &_item {
      list-style: none;
      color: #FF843F;
      margin-bottom: 5px;
      border-radius: 15px;
      padding: 5px;
      &_active {
        background-color: #e5e5e5;
      }
    }
  }
}
