@import '../../styles/variables.scss';

.input-container {
  width: 100%;
  & label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & .input-label {
      padding: 10px 20px;
      font-size: 20px;
      @include phone {
        font-size: $smallFont;
      }
    }
    & input {
      width: 100%;
      color: #656565;
      border-radius: 30px;
      border: none;
      font-family: "Itim", sans-serif;
      font-size: 24px;
      padding: 10px 20px;
      outline: none;
      min-width: none;
      box-sizing: border-box;
      box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
      @include tablet {
        font-size: $mediumFont;
        padding: 8px 15px;
      }
    }
    & input:invalid {
      color: rgb(235, 51, 51);
    }
    & input::placeholder {
      color:#cfcfcf;
    }
    & .required-star {
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-size: 24px;
      color: #FF843F;
      @include tablet {
        bottom: 7px;
      }
    }
  }
}

