$baseFont: sans-serif;

//init variables with repeatable values as paddings, margins, colors, font-sizes
//init mixins

$smallPadding: 10px;
$mediumPadding: 20px;
$largePadding: 40px;

$smallFont: 16px;
$mediumFont: 20px;
$largeFont: 24px;

@mixin phone {
  @media (max-width: 500px) { @content; }
}

@mixin tablet {
  @media (max-width: 900px) { @content; }
}


@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}